.navbar {
    overflow: hidden;
    background-color: #e9e9e9;
}


.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.navbar a:hover {
    background-color: #ddd;
    color: black;
}


.navbar a.active {
    background-color: #2196F3;
    color: white;
}


.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.navbar {
    position: relative;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}


@media screen and (max-width: 600px) {
    .navbar a, .navbar input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .navbar input[type=text] {
        border: 1px solid #ccc;
    }
}


.carousel {
    width:340px;
    height:160px;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


